<a href="https://colab.research.google.com/github/agnaldoseixas/BootCamp_Analise_Dados/blob/main/apostila_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1 - Primeiro Passo

In [ ]:
#Printar na tela
print("Olá Mundo!")

Olá Mundo!

#2 - Variaveis

In [ ]:
#É um espaço na memória do computador que usamos para armazenar um valor

In [ ]:
nome = 'Agnaldo'
idade = 50
altura = 1.63
estuda = True

In [ ]:
print(nome)
print(idade)
print(altura)
print(estuda)

Agnaldo
50
1.63
True

#3 - Tipos de Dados

In [ ]:
nome = 'Agnaldo' # Em Python, String. Na Estatistica, variavel quelitativa
idade = 50 # Em Python, int (inteiro). Na Estatistica, variavell quentitativa discreta.
altura = 1.63 # Em Python, float ( numero decimal). Na estatistica, variavel quantitativa continua.
estuda = True # Em Python é boolean (verdadeiro ou falso). Na estatistica,, variavel qualitativa

In [ ]:
#Retorna o tipo da variavel
type(nome)

str

In [ ]:
type(idade)

int

In [ ]:
type(altura)

float

In [ ]:
type(estuda)

bool

In [ ]:
print('Nome: ',nome)

Nome:  Agnaldo

#4 - Operadores

##4.1 - Operadores Aritimeticos

In [ ]:
#Adição
5 + 3

8

In [ ]:
x=3
y=5
resultado= x+y
print('O resultado é:', resultado)

O resultado é: 8

In [ ]:
#Subtração
8-3

5

In [ ]:
x=8
y=3
resultado= x-y
print('O resultado é:', resultado)

O resultado é: 5

In [ ]:
#multiplicação
5*3

15

In [ ]:
x=5
y=3
resultado= x*y
print('O resultado é:', resultado)

O resultado é: 15

In [ ]:
#Divisão
6/2

3.0

In [ ]:
x=6
y=2
resultado= x/y
print('O resultado é:', resultado)

O resultado é: 3.0

In [ ]:
#Divisão Inteira
5 // 2

2

In [ ]:
x=5
y=2
resultado= x//y
print('O resultado é:', resultado)

O resultado é: 2

In [ ]:
#Resto da divisão
5 % 2

1

In [ ]:
x=5
y=2
resultado= x%y
print('O resultado é:', resultado)

O resultado é: 1

In [ ]:
#Exponenciação
3 ** 2

9

In [ ]:
x=3
y=2
resultado= x**y
print('O resultado é:', resultado)

O resultado é: 9

In [ ]:
# prompt: Crie um programa que calcule a area de retangulo cuja base é igual a 2
# e altura é igual a 3, depois imprima na tela
# a formula é area = base * altura

base = 2
altura = 3
area = base * altura
print("A área do retângulo é:", area)

A área do retângulo é: 6

In [ ]:
# prompt: Crie um programa que calcule a média de três notas. O aluno recebeu nota 7 na primeira prova, 6 na segunda e 8 na terceira. Media = soma das notas/qtd de notas. Depois imprima o resultado

# Notas do aluno
nota1 = 7
nota2 = 6
nota3 = 8

# Calcula a média
media = (nota1 + nota2 + nota3) / 3

# Imprime o resultado
print("A média do aluno é:", media)

A média do aluno é: 7.0

##4.2 - Operadores de Comparação

In [ ]:
#Igualdade (==)
5 == 3

False

In [ ]:
5 == 5

True

In [ ]:
#Diferente de (!=)
3 != 5

True

In [ ]:
3 != 3

False

In [ ]:
#Maior que
5 > 3

True

In [ ]:
#Menor que
5 < 3

False

In [ ]:
#Maior ou igual
6 >= 3

True

In [ ]:
#Menor ou igual
6 <= 3

False

In [ ]:
'''
== Igual
> Maior que
< Menor que
>= Maior ou igual
<= Menor ou igual
'''

##4.3 - Operadores Logicos

###4.3.1 - And

In [ ]:
# Só retorna verdadeiro se duas condições forem verdadeiras
True and False

False

In [ ]:
False and True

False

In [ ]:
False and False

False

In [ ]:
True and True

True

In [ ]:
'''
Verdadeiro e Verdadeiro = Verdadeiro
Verdadeiro e Falso = Falso
Falso e Verdadeiro = Falso
Falso e Falso = Falso
'''

###4.3.2 - Or

In [ ]:
# Só é falso se as duas condições forem falsas
False or False

False

In [ ]:
False or True

True

In [ ]:
True or False

True

In [ ]:
True or True

True

In [ ]:
'''
Verdadeiro ou Verdadeiro = Verdadeiro
Verdadeiro ou Falso = Verdadeiro
Falso ou Verdadeiro = Verdadeiro
Falso ou Falso = Falso
'''

##4.4 - Operadores de Atribuição

In [ ]:
#Atribuição Simples
x = 2
print (x)

2

In [ ]:
#Adiciona e atribui
x = 3
#x = x (3) + 1
x += 1
print(x)

4

In [ ]:
#Subtrai e atribui
x = 4
#Atribui a X o valor de X e subtraii 2
x -= 2
print(x)

2

In [ ]:
#Multiplica e atribui
x = 2
x *= 4
print(x)

8

In [ ]:
#Divide a atribui
x = 8
#Atribui a x o valor de x e divide por 4
x /= 4
print(x)

2.0

In [ ]:
#Divisão inteira e atribui
x = 5
#ATribuii a x o valr de X e fz a divisão por2
x //=2
print(x)

2

In [ ]:
#Modulo e atribui
x = 9

x %= 3
print(x)

0

In [ ]:
#exponencia e atribui
x = 2
#Atribuo a x o valor de x e faço a potenciaçãoa por 3
x **= 3
print(x)

8

#5 - Input

In [ ]:
'''
Usaremos para receber entradas de dados do usuário
Sempre retorna uma string, mas podemos converter para outros tipos de dados
'''
nome = input('Qual o seu nome? ')
print('Olá', nome)

Qual o seu nome? Agnaldo
Olá Agnaldo

In [ ]:
type (nome)

str

In [ ]:
peso = input('Qual o seu peso? ')
print('O peso é', peso)

Qual o seu peso? 60
O peso é 60

In [ ]:
type(peso)

str

In [ ]:
peso = float(input('Qual o seu peso? '))
print('O peso é', peso)

Qual o seu peso? 60
O peso é 60.0

In [ ]:
type(peso)

float

In [ ]:
idade = int(input('Qual a sua idade? '))
print('A idade é', idade)

Qual a sua idade? 50
A idade é 50

In [ ]:
type(idade)

int

In [ ]:
'''
Imagine que voce precisa calcular o imc do cliente e armazenar
o imc numa variavel
imc = peso/altura**2
'''
peso = float(input('Qual o seu peso? '))
altura = float(input('Qual a sua altura? '))
imc = peso/altura**2
print('O IMC é', round(imc,2))

Qual o seu peso? 60
Qual a sua altura? 1.75
O IMC é 19.59

#6 - Print

In [ ]:
'''
A forma mais simples de se trabalhar com o print é passando um
ou mais valores como argumento
'''
print('Olá Mundo')

Olá Mundo

In [ ]:

print('Meu nome é','Agnaldo','tenho 50 anos')

Meu nome é Agnaldo tenho 50 anos

In [ ]:
nome = 'Agnaldo'
idade = 50
print('Meu nome é',nome,'tenho',idade,'anos')

Meu nome é Agnaldo tenho 50 anos

In [ ]:
'''
Por padrão o print() separa os argumentos com um espaço, mas podemos mudar isso
'''
print("Python","é","massa",sep="-")

Python-é-massa

In [ ]:
dia = 18
mes = 3
ano = 2025
print(dia,mes,ano,sep="/")

18/3/2025

In [ ]:
print ("Oresultado é:", end=" ")
print(42)

Oresultado é: 42

In [ ]:
print("Carregando", end="...")
print("Pronto!")

Carregando...Pronto!

In [ ]:
'''
No print podemos realizar a concatenação de string
Tudo tem que ser string
'''
nome = 'Agnaldo'
print('Olá, '+ nome + '!')

Olá, Agnaldo!

In [ ]:
#O exemplo abaixo retorna errp, pois só podemos concatenar strings
idade = 25
print("Idade: "+idade)

TypeError: can only concatenate str (not "int") to str

In [ ]:
#cONVERTENDO A IDADE para string, funciona
print("Idade: "+str(idade))

Idade: 25

In [ ]:
#Podemos quebrar linhas com o \n
print('linha1\nLinha2\nLinha3\n')

linha1
Linha2
Linha3

In [ ]:
#Também temos o \t para tabulação
print('Nome: \tAgnaldo')
print('Idade: \t50')

Nome: 	Agnaldo
Idade: 	50

##6.1 - F-String

In [ ]:
# As F-strings são a forma mais moderna e recomendada de formatar string
#colocar um f antes da string e incluir as variaveis entre {}
nome = 'Agnaldo'
idade = 50
altura = 1.65
peso = 60

print(f'O nome do cliente é {nome}, a idade é {idade} anos, a altura é {altura} e o peso é {peso}kg')

O nome do cliente é Agnaldo, a idade é 50 anos, a altura é 1.65 e o peso é 60kg

In [ ]:
#usando a quebra de linha ea tabulação numa f-string

print(f'Nome:\t{nome}\nIdade:\t{idade}')

Nome:	Agnaldo
Idade:	50

##6.2 - Método Format

In [ ]:
#Não é mais tão usado

print('Olá, meu nome é {} eu tenho {}'.format(nome,idade))

Olá, meu nome é Agnaldo eu tenho 50

#7 - Round

In [ ]:
#É  uma função de arredondamento que recebe uma variavel e quantidade de casas decimais

peso = float(input('Qual o seu peso? '))
altura = float(input('Qual a sua altura? '))
imc = peso/altura**2
print(f'O IMC do cliente é {round(imc,2)}')# arredondando para 2 casa decimais

Qual o seu peso? 60
Qual a sua altura? 1.65
O IMC do cliente é 22.04

In [ ]:
'''
Peça o ano de nascimento do usuario e calcule a sua idade aproximada
'''

ano_nascimento = int(input('Qual o seu ano de nascimento? '))
ano_atual = 2025
idade = ano_atual - ano_nascimento
print(f'A sua idade é {idade} anos')

Qual o seu ano de nascimento? 1975
A sua idade é 50 anos

#8 - Métodos de String

##8.1 - Fatiamento de Strings(slicing)

In [ ]:
# -14 -13 -12 -11 -10 -9 -8 -7 -6 -5   -4   -3   -2 -1 (índice reverso - como o python pensa)
#   0   1   2   3   4  5  6  7  8  9   10  11  12   13 (índice - como o python pensa)
#  1º  2º  3º  4º  5º 6º 7º 8º 9º 10º  11º 12º 13º 14º (ordinal - como nós pensamos)
#  d   o   u   g   @  g  m  a  i   l   .    c   o  m

In [ ]:
email = 'doug@gmail.com'

In [ ]:
#Qual é a 5 letra desta string
email[4]

'@'

In [ ]:
#Pegar a ultima letra da string
print(email[-1])
print(email[13])

m
m

In [ ]:
#pega o primeiro caracter
print(email[0])

d

In [ ]:
#Crie umam variavel chamada setima, ela deve ter o 7 caracter do nosso emai

setima = email[6]
print(setima)

m

In [ ]:
'''
Imagine que você deseja criar uma variável que armazena todos os caracteres depois
do @.

Para isso podemos utilizar o fatiamento. Como funciona:

O que vem antes dos : marca o inicio do fatiamento e é inclusivo.
O que vem depois dos : marca o fim do fatiamento e é exclusivo (Pega até um
antes do número informado)
'''

email='doug@gmail.com'
provedor = email[5:13]
print(provedor)

gmail.co

In [ ]:
'''
Para termos o comportamento esperado, teriamos que adicionar 1 ao indice final
'''
print(email[5:14])

gmail.com

In [ ]:
'''
Podemos omitir o indie de termino, desse modo ele pega até o final
'''
print(email[5:])

gmail.com

In [ ]:
# string[start:stop:step]
#start : Marca o inicio
#stop: Marca o fim
#step: é de quantos em quantos

print(email)
print(email[::2])

doug@gmail.com
du@mi.o

In [ ]:
#inverte a string
#Pode ser usado para identificar se a palavra é um palindromo

print(email[::-1])

moc.liamg@guod

In [ ]:
'''
Uma placa de carro tem o formato "ABC-1234"
Extraia apenas os numeros da placa usando slicing.
Exemplo: No caso da placa acima, a saída deve ser "1234"
'''
placa = 'ABC-1234'
print(placa[4:])
print(placa[4:8])

1234
1234

##8.2 - Operador IN

In [ ]:
#O operado IN é utilizado para verificar se um valor esta presenete em uma seeqquencia
# essa sequencia pode ser uma string, uma lista uma tuplia ou até mesmo um dicionario.
#Retorna um valor booleanno: True ou false

email = 'nathan@gmail.com'

'@' in email

True

In [ ]:
email = 'nathan@gmail.com'

'X' in email

False

In [ ]:
email = 'nathan@gmail.com'

'N' in email

False

In [ ]:
#Verifique se um nomme de um produto ocontem a palavra promoção.

produto = 'Liquidificador em promoção'

'promoção' in produto

True

##8.3 - Startswith

In [ ]:
#Checa se uma string começa com algum caracter ou conjunto de
#caracteres.

email = 'nathan@gmail.com'
email.startswith('pedro')

False

In [ ]:
#Podemos procurar por um caracter apenas
email.startswith('n')

True

In [ ]:
#podemos procurar por um conjunto de caracteres
email.startswith('gmail')

False

In [ ]:
#Verifique se um numero de tlefone começa com o DDD 11
#Exemplo 11-91234-5678

telefone = '11-91234-5678'
telefone.startswith('11')

True

##8.4 - Endswith

In [ ]:
#checa se uma string termina com algum caracter ou sequencia de caracteres
email='nathan@gmail.com'
email.endswith('br')

False

In [ ]:
email.endswith('com')

True

##8.5 - Captalize

In [ ]:
#Captalize é uma metodo que quando aplicado deixa apenas aprimeira letra da string
#em maiuscula
nome = 'nathan james'
print(nome)

nathan james

In [ ]:
print(nome)
nome2 = nome.capitalize()
print(nome2)

nathan james
Nathan james

##8.6 - Title

In [ ]:
#Deixa todas as primeira letras da string em maiuscula

nome_completo = 'nathan james arrais vasconcelos'
print(nome_completo)
nome_completo2 = nome_completo.title()
print(nome_completo2)

nathan james arrais vasconcelos
Nathan James Arrais Vasconcelos

In [ ]:
cidade = 'rio de janeiro'
print(cidade)
cidade2 = cidade.title()
print(cidade2)

rio de janeiro
Rio De Janeiro

##8.7 - Upper

In [ ]:
#Usamos para colocar tudo em maisuculo
uf = 'ba'
print(uf )
uf = uf.upper()
print(uf)

ba
BA

##8.8 - Lower

In [ ]:
#Deixa o texto em minusculo
cidade = 'SÃO PAULO'
print(cidade)
cidade = cidade.lower()
print(cidade)

SÃO PAULO
são paulo

#9 - Len

In [ ]:
#Retorna o tamanho
nome = 'Agnaldo'
len(nome)

7

#10 - Estrutura de Dados

##10.1 - Lista

In [ ]:
#Lista é uma coleção ordenada e mutvel de elementos, podendo conter diferntes
#elemento de dados.
#para declara uma lista utilizamos os [] e separamos os elementos por virgulas

nomes = ['Agnaldo','João','Maria','Ailton','Agda']
print(nomes)

['Agnaldo', 'João', 'Maria', 'Ailton', 'Agda']

In [ ]:
type(nomes)

list

In [ ]:
'''
Para consultar um elemento especifico de uma lista, utilizamos o nome dela
e passamos entre colchetes o índice do elemento a ser consultado.
'''
#Usamos o índice 0 para retornar o primeiro elemento da lista.
print(nomes[0])

Agnaldo

In [ ]:
#Usamos o índice -1 para retornar o último elemento da lista.
print(nomes[-1])

Agda

In [ ]:
#Podemos checar o tipo de um elemento da lista
type(nomes[0])

str

In [ ]:
#Podemos atribuir a uma variável o valor de um elemento da lista
eu = nomes[0]
print(eu)

Agnaldo

In [ ]:
'''
Podemos alterar o elemento de uma posição especifica sobreescrevendo o
conteúdo que está armazenado.
'''
nomes[0]='Seixas'
print(nomes)

['Seixas', 'João', 'Maria', 'Ailton', 'Agda']

In [ ]:
'''
Agora vamos inserir um elemento no final da lista, para isso
utilizamos o método append.
'''
nomes = ['Agnaldo','João','Maria','Ailton','Agda']
print(nomes)

nomes.append('Pedro')
print(nomes)

['Agnaldo', 'João', 'Maria', 'Ailton', 'Agda']
['Agnaldo', 'João', 'Maria', 'Ailton', 'Agda', 'Pedro']

In [ ]:
#Insert é um metodo que usamos para inserir um elemento na posição especifica
nomes.insert(5,'Ana')
print(nomes)

['Agnaldo', 'João', 'Maria', 'Ailton', 'Agda', 'Ana', 'Alesssandro', 'Pedro', 'Ana']

In [ ]:
nomes[5]='Lidy'
print(nomes)

['Agnaldo', 'João', 'Maria', 'Ailton', 'Agda', 'Lidy', 'Alesssandro', 'Pedro', 'Ana']

In [ ]:
#Ppodemos excluir um item utilizando o Remove
#Remove a primeira aparição
nomes.remove('Ana')
print(nomes)

['Agnaldo', 'João', 'Maria', 'Ailton', 'Agda', 'Lidy', 'Alesssandro', 'Pedro']

In [ ]:
#Pop remove um item baseado no indice e o oretorna

nomes.pop(0)

'Agnaldo'

In [ ]:
#Ja que o pop retorna o elemento dletado, podemos guardar esse item numa variavel
print(nomes)
item_removido = nomes.pop(0)
print(item_removido)
print(nomes)

['Maria', 'Ailton', 'Agda', 'Lidy', 'Alesssandro', 'Pedro']
Maria
['Ailton', 'Agda', 'Lidy', 'Alesssandro', 'Pedro']

In [ ]:
#Podemos utiliar o comando del. Utilizamos o indice mas não retorna o elemeto
print(nomes)
del nomes[0]
print(nomes)

['Ailton', 'Agda', 'Lidy', 'Alesssandro', 'Pedro']
['Agda', 'Lidy', 'Alesssandro', 'Pedro']

In [ ]:
#para deletar uma lista inteira
del nomes

In [ ]:
'''
Usamos o del quando queremos remover um elemento pelo índice ou excluir a lista
inteira.
Usamos o pop quando queremos remover um elemento pelo índice e precisamos do
retorno do valor/elemento removido.
Usamos o remove quando sabemos o valor do item a ser removido, mas não o seu índice.
'''

In [ ]:
# Metodo index é usado para acessar e armazena o indice dos itens de uma variave
nomes = ['Agnaldo','João','Maria','Ailton','Agda']
indice = nomes.index('Maria')
print(indice)

2

In [ ]:
# Count retorna a quantidade de vezes que o elemento aparece
nomes.count('Maria')

1

In [ ]:
# Podemos organizar em forma crescente

nomes.sort()
print(nomes)

['Agda', 'Agnaldo', 'Ailton', 'João', 'Maria']

In [ ]:
#Ordem decrescente
nomes.reverse()
print(nomes)

['Maria', 'João', 'Ailton', 'Agnaldo', 'Agda']

In [ ]:
idades = [26,22,56,47,46,26]
print(idades)

[26, 22, 56, 47, 46, 26]

In [ ]:
# Mosrtar o maior elemento
max(idades)

56

In [ ]:
# Mostrar oo menor elemento
min(idades)

22

In [ ]:
#Retornar a soma das idades

sum(idades)

223

In [ ]:
# retornar a média
import statistics as st
media = st.mean(idades)
print(media)
media2 = sum(idades)/len(idades)
print(media2)

37.166666666666664
37.166666666666664

In [ ]:
#Removendo valores duplicados
numeros = [1,1,1,2,2,5,4]
numeros_unicos = list(set(numeros))
print(numeros_unicos)

[1, 2, 4, 5]

In [ ]:
#Limpando uma lista
frutas = ['banana','maçã','uva','abacaxi']
print(frutas)
frutas.clear()
print(frutas)

['banana', 'maçã', 'uva', 'abacaxi']
[]

In [ ]:
'''
Você tem uma lista de passageiros em um voo e precisa saber quantas vezes
o nome Carlos aparece na lista
Exemplo: ["Carlos","Maria","Renata","Carlos","João"]
'''
passageiros = ["Carlos","Maria","Renata","Carlos","João"]
quantidade = passageiros.count('Carlos')
print(quantidade)

2

##10.2 - Tuplas

In [ ]:
'''
Tuplas são sequências imutaveis. Muito parecidas com as listas, mas uma vez que
as declaramos não podemos alterar os seus elementos. Utilizamos quando precisamos
garantir que os dados não sejam alterados acidentalmente.

Para declarar uma tupla, colocamos os elementos entre parênteses e separamos eles
por vírgula.
'''
nomes = ('Agnaldo','João','Maria','Ailton','Agda')
print(nomes)

('Agnaldo', 'João', 'Maria', 'Ailton', 'Agda')

In [ ]:
#A tupla pode conter diferentes tipos de dados
aleatoria = ('Agnaldo', 50, 1.65, 60)
print(aleatoria)

('Agnaldo', 50, 1.65, 60)

In [ ]:
#Podemos verificar qual é o tipo da nossa estrutura
type(aleatoria)

tuple

In [ ]:
#Acessamos os elementos da tupla de forma similar ao método utilizado nas listas
print(nomes[0])

Agnaldo

In [ ]:
#Também podemos verificar o tipo dos elementos.
type(nomes[0])

str

In [ ]:
'''
As tuplas são imutaveis, portanto não podemos fazer novas atribuições
depois de declará-las.
'''
nomes[0] = 'Felipe'

TypeError: 'tuple' object does not support item assignment

In [ ]:
frutas = ['banana','maçã','uva']
print(frutas)
print(type(frutas))
#Convertendo uma lista para uma tupla
frutas = tuple(frutas)
print(frutas)
print(type(frutas))

['banana', 'maçã', 'uva']
<class 'list'>
('banana', 'maçã', 'uva')
<class 'tuple'>

In [ ]:
'''
Nós podemos concatenar múltiplas tuplas em uma nova.
'''
tupla1 = (1,2,3)
tupla2 = (4,5,6)
tupla3 = (7,8,9)

tupla_final = tupla1 + tupla2 + tupla3
print(tupla_final)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [ ]:
print(tupla_final)
tupla_ordenada = tuple(sorted(tupla_final))
print(tupla_ordenada)

(1, 2, 3, 4, 5, 6, 7, 8, 9)
(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [ ]:
'''
Dada a seguinte tupla:

frutas = ('Uva','Maçã','Laranja','Banana')

Converta-a em uma lista e adicione o item abacaxi.
'''
frutas = ('Uva','Maçã','Laranja','Banana')
frutas = list(frutas)
frutas.append('Abacaxi') #Insere na ultima posição
frutas.insert(0,'Morango') # Insere na posição especifica
frutas.sort() # Ordena a lista
frutas = tuple(frutas)
print(frutas)

('Abacaxi', 'Banana', 'Laranja', 'Maçã', 'Morango', 'Uva')

In [ ]:
#Podemos utilizar funções como: max, min, sum...
precos = (299.99, 159.80, 247.90)
menor_preco = min(precos)
maior_preco = max(precos)
soma_preco = sum(precos)
print(menor_preco)
print(maior_preco)
print(soma_preco)

159.8
299.99
707.69

##10.3 - Dicionarios

In [ ]:
'''
Um dicionário é uma estrutura de dados que não é indexada, ela armazena pares
de chave e valor.

nome_dicionario = {'chave':'valor', 'chave2':'valor2'...}
'''
carro = {'marca':'vw','modelo':'gol','cor':'cinza','ano':2014}
print(carro)

{'marca': 'vw', 'modelo': 'gol', 'cor': 'cinza', 'ano': 2014}

In [ ]:
'''
Pegando a cor do veículo
'''
carro.get('cor')

'cinza'

In [ ]:
'''
O Get é a forma mais segura de se recuperar o valor de um dicionário.
Caso a chave não exista, ele não retorna nada.
'''
carro.get('aro')

In [ ]:
'''
Podemos usar o colchetes para acessar valores de um dicionário.
Caso a chave não exista ele retorna um erro.
'''
carro['cor']

'cinza'

In [ ]:
'''
Podemos usar o colchetes para acessar valores de um dicionário.
Caso a chave não exista ele retorna um erro.
'''
carro['aro']

KeyError: 'aro'

In [ ]:
'''
Para listra todas as chaves de um dicionário, utilizamos o método keys()
'''
carro.keys()

dict_keys(['marca', 'modelo', 'cor', 'ano'])

In [ ]:
'''
Retorna apenas os valores do dicionário
'''
carro.values()

dict_values(['vw', 'gol', 'cinza', 2014])

In [ ]:
'''
Retorna o par de chave e valor
'''
carro.items()

dict_items([('marca', 'vw'), ('modelo', 'gol'), ('cor', 'cinza'), ('ano', 2014)])

In [ ]:
'''
Para remover valores de um dicionário, utilizamos o pop

'''
print(carro)
carro.pop('marca')
print(carro)

{'marca': 'vw', 'modelo': 'gol', 'cor': 'cinza', 'ano': 2014}
{'modelo': 'gol', 'cor': 'cinza', 'ano': 2014}

In [ ]:
#Se quiser Remover o ultimo elemento
print(carro)
carro.popitem()
print(carro)

{'modelo': 'gol', 'cor': 'cinza', 'ano': 2014}
{'modelo': 'gol', 'cor': 'cinza'}

In [ ]:
del carro['modelo']
print(carro)

{'cor': 'cinza'}

In [ ]:
#Alterando a cor do carro
carro.update({'cor':'preto'})
print(carro)

{'cor': 'preto'}

In [ ]:
#Adicionando um novo par de chave valor
carro.update({'modelo':'gol'})
print(carro)

{'cor': 'preto', 'modelo': 'gol'}

In [ ]:
#Podemos usar o len para descobrir quantos pares temos no dicionário
print(carro)
len(carro)

{'cor': 'preto', 'modelo': 'gol'}

2

In [ ]:
#Podemos deixar o dicionário vazio com o comando clear
carro.clear()
print(carro)

{}

In [ ]:
#Cria uma cópia do dicionário
carro = {'marca':'vw','modelo':'gol','cor':'cinza','ano':2014}
copia = carro.copy()
print(carro)
print(copia)

{'marca': 'vw', 'modelo': 'gol', 'cor': 'cinza', 'ano': 2014}
{'marca': 'vw', 'modelo': 'gol', 'cor': 'cinza', 'ano': 2014}

In [ ]:
#Atualizando o valor de uma chave
print(carro)
carro['modelo'] = 'celta'
print(carro)

{'marca': 'vw', 'modelo': 'gol', 'cor': 'cinza', 'ano': 2014}
{'marca': 'vw', 'modelo': 'celta', 'cor': 'cinza', 'ano': 2014}

In [ ]:
#Criando um novo par de chave e valor
carro['placa'] = 'ABC-1234'
print(carro)

{'marca': 'vw', 'modelo': 'celta', 'cor': 'cinza', 'ano': 2014, 'placa': 'ABC-1234'}

In [ ]:
'''
Crie um dicionário que representa as notas de um aluno em 3 matérias
Matemática, Português e História. As notas foram: 8.5, 7.0 e 9.0.

Por fim, imprima a nota de Português.
'''
notas = {'Matematica':8.5, 'Portugues':7.0, 'Historia':9.0}
print(notas['Portugues'])

7.0

In [ ]:
'''
Adicionar a matéria de Ciências no dicionário com a nota 8.0
Depois imprimir o dicionário atualizado.
'''
notas['Ciencias'] = 8.0
print(notas)
#notas.update({"Ciências":8.0})

{'Matematica': 8.5, 'Portugues': 7.0, 'Historia': 9.0, 'Ciencias': 8.0}

In [ ]:
'''
Remova a matéria história e exiba o dicionário atualizado.
'''
del notas['Historia']
print(notas)
#notas.pop('Hstoria')

{'Matematica': 8.5, 'Portugues': 7.0, 'Ciencias': 8.0}

In [ ]:
'''
Caso quisessemos calcular a média das notas
'''
media = sum(notas.values())/len(notas)
print(media)

7.833333333333333

##10.4 - Sets

In [ ]:
'''
lista = [item1, item2, item3...]
tupla = (item1, item2, item3..)
dicionario = {'chave':valor, 'chave1':valor1...}
conjunto = {item1, item2, item3}

Sets são estruturas de dados não indexadas e não ordenaveis, porém,
são mutáveis. Por meio de métodos e funções conseguimos realizar operações.
'''

In [ ]:
biscoito = {'Matheus','João','Maria','Carlos'}
print(biscoito)
bolacha = {'Matheus','Maria','Carlos'}
print(bolacha)

{'João', 'Maria', 'Matheus', 'Carlos'}
{'Maria', 'Matheus', 'Carlos'}

In [ ]:
#Suponha que eu queira adicionar o Eurico no conjunto biscoito
#Na estrutura de conjuntos os elementos são unicos e não ordenaveis
biscoito.add('Eurico')
print(biscoito)

{'João', 'Matheus', 'Carlos', 'Eurico', 'Maria'}

In [ ]:
#Para remover um elemento do conjunto
biscoito.remove('Eurico')
print(biscoito)

{'João', 'Matheus', 'Carlos', 'Maria'}

In [ ]:
#Setentar remover um elemento que não esta no conjunto ele ertorna um erro
biscoito.remove('Mauricio')

KeyError: 'Mauricio'

In [ ]:
#o METODO discard remove um elemento especifico sem gerar um erro caso o
#elemento não exista.
print(biscoito)
biscoito.discard('Mauricio')

{'João', 'Matheus', 'Carlos', 'Maria'}

In [ ]:
#vamos unir dois conjuntos sem repetir os nomes
print(biscoito)
print(bolacha)
todos = bolacha.union(biscoito) #Não repete elementos iguais dos conjunto
print(todos)

{'João', 'Matheus', 'Carlos', 'Maria'}
{'Maria', 'Matheus', 'Carlos'}
{'João', 'Matheus', 'Maria', 'Carlos'}

In [ ]:
#Vamos criar um novo conjunto com interseção
print(biscoito)
print(bolacha)
panelinha = biscoito.intersection(bolacha)#pega só os elementos iguais dos elementos
print(panelinha)

{'João', 'Matheus', 'Carlos', 'Maria'}
{'Maria', 'Matheus', 'Carlos'}
{'Maria', 'Matheus', 'Carlos'}

In [ ]:
#Retorna aquele que fala somente biscoito
print(biscoito)
print(bolacha)
so_biscoito = biscoito.difference(bolacha)
print(so_biscoito)

{'João', 'Matheus', 'Carlos', 'Maria'}
{'Maria', 'Matheus', 'Carlos'}
{'João'}

In [ ]:
#Popdemos adicionar um conjunto dentro de outro conjunto
print(bolacha)
bolacha.update(biscoito)
print(bolacha)

{'Maria', 'Matheus', 'Carlos'}
{'João', 'Matheus', 'Maria', 'Carlos'}

In [ ]:
#Retornar o tamanho

len(bolacha)

4

In [ ]:
#Podemos transformar uma lista em conjunto
lista = [1,2,3,4,5,4,4]
print(lista.count(4))
conjunto = set(lista)# SET converte a lilsta em conjunto
print(conjunto)
print(len(conjunto))

3
{1, 2, 3, 4, 5}
5

In [ ]:
# Fazer cópia de um conjunto
backup = biscoito.copy()
print(backup)

{'João', 'Carlos', 'Matheus', 'Maria'}

In [ ]:
'''
Vamos supor que temos duas listas promoções, uma do supermercado A e outra do B.
Nós queremos saber quais são as promoções exclusivas de A e as de B.
'''
promocao_a = {'Arroz','Feijão','Macarrão','Café'}
promocao_b = {'Azeite', 'Açúcar', 'Café', 'Macarrão'}

exclusivo_a = promocao_a - promocao_b
print(exclusivo_a)

exclusivo_b = promocao_b - promocao_a
print(exclusivo_b)

{'Feijão', 'Arroz'}
{'Açúcar', 'Azeite'}

In [ ]:
#Crie um set com 4 elementos e adicione um novo elemento nele
# e depois revoma o elemento novo que foi adicionado
conjunto = {'Matheus','João','Maria','Carlos'}
print(conjunto)
conjunto.add('AGNALDO')
print(conjunto)
conjunto.remove('AGNALDO')
print(conjunto)

{'João', 'Maria', 'Matheus', 'Carlos'}
{'João', 'Matheus', 'Carlos', 'AGNALDO', 'Maria'}
{'João', 'Matheus', 'Carlos', 'Maria'}

In [ ]:
'''
Em uma escola há dois clubes: o de teatro e o de música.
Queremos reponder as seguintes questões:

1 - Quais alunos participam de ambos?
2 - Quais alunos participam de pelo menos um clube?
'''
teatro = {'Gabriel','Melquezedeque','Marcos','Tereza'}
musica = {'Gabriel','Tereza','Laura','Thomas'}
print(teatro)
print(musica)
#ambos
ambos = teatro.intersection(musica)
print(ambos)

#Pelo menos um
pelo_menos_um = teatro.union(musica)
print(pelo_menos_um)

{'Marcos', 'Gabriel', 'Melquezedeque', 'Tereza'}
{'Gabriel', 'Thomas', 'Tereza', 'Laura'}
{'Gabriel', 'Tereza'}
{'Melquezedeque', 'Laura', 'Tereza', 'Gabriel', 'Marcos', 'Thomas'}

#11 - Estrutura Condicional

In [ ]:
'''
Vamos receber uma nota do usuario e se a nota for maior ou igual a 6,
imprimir a farse Aprovado!
'''
nota = float(input('Digite a nota: '))
if nota >= 6:
print('Aprovado!')#Erro de indentação

IndentationError: expected an indented block after 'if' statement on line 6 (<ipython-input-27-d26430db5805>, line 7)

In [ ]:
'''
Vamos receber uma nota do usuario e se a nota for maior ou igual a 6,
imprimir a farse Aprovado!
'''
nota = float(input('Digite a nota: '))
if nota >= 6:
  print('Aprovado!')
else:
  print('Reprovado!')

Digite a nota: 5
Reprovado!

In [ ]:
nota = float(input('Digite a nota: '))
nota = round(nota)
if nota >= 6:
  print('Aprovado!')
else:
  print('Reprovado!')

Digite a nota: 5.9
Aprovado!

In [ ]:
nota = float(input('Digite a nota: '))

if nota >= 5.7: # aprovado caso a nota seja de 5.7 pra cima
  nota = round(nota)
  print('Aprovado! A sua nota foi', nota)
else:
  print('Reprovado! A sua nota foi', nota)

Digite a nota: 5.8
Aprovado! A sua nota foi 6

In [ ]:
'''
Vamos supor que se a sua nota for maior ou igual a 6 iremos exibir a mensagem
de aprovado.
Mas se a nota for menor do que 6 e maior do que 4, exibirá a mensagem de recuperação.
Caso contrário, reprovado.
'''
nota = float(input('Digite a nota de 0 a 10: '))

if nota >= 6:
  print('Aprovado! A sua nota foi', nota)
elif nota >= 4:
  print('Recuperação! A sua nota foi', nota)
else:
  print('Reprovado! A sua nota foi', nota)

Digite a nota de 0 a 10: 1
Reprovado! A sua nota foi 1.0

In [ ]:
'''
Faça um programa que receba 3 notas e calcule a média do usuário.
Caso a média seja maior ou igual a 7, exiba a mensagem aprovado.
Caso contrário, reprovado.
'''
#entradas
nota1 = float(input('Digite a primeira nota: '))
nota2 = float(input('Digite a segunda nota: '))
nota3 = float(input('Digite a terceira nota: '))

#Processamento
media = (nota1 + nota2 + nota3)/3

if media >= 7:
  print(f'Aprovado! A sua média foi: {media:.2f}')
else:
  print(f'Reprovado! A sua média foi: {media:.2f}')
'''
: - Indica o inicio da formatação
.2 - Indica que vamos ter duas cadas decimais
f - Indica que vai ser formatado como um ponto flutuante.
'''

Digite a primeira nota: 7
Digite a segunda nota: 8
Digite a terceira nota: 9
Aprovado! A sua média foi: 8.00

In [ ]:
'''
Vamos criar um script que receba uma nota digitada pelo usuário.
Caso a nota seja maior ou igual a 6, retorne aprovado.
Se for menor do que 6 e maior ou igual a 4, exiba recuperação online.
Caso seja menor do que 4 e maior ou igual a 2, exiba recuperação presencial.
E caso seja menor do que 2, exiba reprovado.
'''
nota = float(input('Digite a nota: '))
if nota >= 6:
  print('Aprovado!')
elif nota >= 4:
  print('Recuperação online!')
elif nota >= 2:
  print('Recuperação presencial!')
else:
    print('Reprovado!')

Digite a nota: 1
Reprovado!

In [ ]:
'''
Vamos criar um script que receba uma nota digitada pelo usuário.
Caso a nota seja maior ou igual a 6, retorne aprovado.
Se for menor do que 6 e maior ou igual a 4, exiba recuperação online.
Caso seja menor do que 4 e maior ou igual a 2, exiba recuperação presencial.
E caso seja menor do que 2, exiba reprovado.
'''
#Entrada
nota = float(input('Informe uma nota de 0 a 10: '))
if 6 <= nota <= 10: # [6, 10] 6, 7, 8, 9, 10
  print('Aprovado!')
elif 4 <= nota < 6: # [4,6) 4, 5
  print('Recuperação Online!')
elif 2 <= nota < 4: # [2,4) 2, 3
  print('Recuperação Presencial')
else:  # 0 e 1
  print('Reprovado!')

In [ ]:
'''
Vamos criar um script que receba uma nota digitada pelo usuário.
Caso a nota seja maior ou igual a 6, retorne aprovado.
Se for menor do que 6 e maior ou igual a 4, exiba recuperação online.
Caso seja menor do que 4 e maior ou igual a 2, exiba recuperação presencial.
E caso seja menor do que 2, exiba reprovado.
'''
#Entrada
nota = float(input('Informe uma nota de 0 a 10: '))
if nota >= 6 and nota<=10: # [6, 10] 6, 7, 8, 9, 10
  print('Aprovado!')
elif nota >= 4 and nota < 6: # [4,6) 4, 5
  print('Recuperação Online!')
elif nota >= 2 and nota < 4: # [2,4) 2, 3
  print('Recuperação Presencial')
elif nota >= 0 and nota <2:
  print('Reprovado!')
else:
  print('Nota inválida!')

Informe uma nota de 0 a 10: 11
Nota inválida!

##11.1 - Operador Ternário

In [ ]:
'''
Ternário vem de tres partes  e podemos defini-lo da seguinte maneira:
1- Condição
2- Valor caso seja verdadeiro
3- Valor caso seja falso

cotumam chamar de if simplificado ou if de uma linha
'''
idade = int(input('Informe a idade: '))
print('Maior idade.' if idade >= 18 else 'Menor idade')

Informe a idade: 17
Menor idade

In [ ]:
#Podemos utilizar o operador ternário numa f-string também
idade = int(input('Informe a idade: '))
#Só a nível de exemplo, é mais fácil utilizar o print direto.
#Precisamos encapsular todo o bloco do ternário entre chaves numa f-string
print(f"{'Maior idade.' if idade >= 18 else 'Menor idade'}")

Informe a idade: 18
Maior idade.

In [ ]:
preco = float(input("Digite um preço: "))
#Atribuindo 0.1 a variável desconto se o preço for maior do que 100 e 0.05 se for menor.
desconto = 0.1 if preco > 100 else 0.05
print(desconto)

Digite um preço: 99
0.05

In [ ]:
#Evite exageros
#Vamos descobrir se o número é nagativo, par ou ímpar
numero = int(input('Informe um número: '))
resultado = "Negativo" if numero < 0 else "Par" if numero % 2 == 0 else "Ímpar"
print(resultado)

Informe um número: 2
Par

In [ ]:
'''
Escreva um programa que pergunte a idade da pessoa e se ele for menor de idade
exiba a mensagem: "Você não pode tirar a carteira de motorista".
Caso contrário, exiba: "Você pode tirar a carteira"
'''
idade = int(input('Informe a idade: '))
print('Você não pode tirar a carteira de motorista' if idade < 18 else 'Você pode tirar a carteira')

Informe a idade: 18
Você pode tirar a carteira

#12 - Estrutura de repetição

##12.1 - For

In [ ]:
'''
Vocês podem encontrar como:
  Estrutura de repetição
  Estrutura de controle
  Laço de repetição
  Laço com variável de repetição

É uma estrutura que utilizamos para percorrer itens em uma sequência. Essa
sequência pode ser uma lista, uma string, um intervalo numérico, entre outros.
Ela executa o bloco de código para cada item da sequência.

Estrutura:
  for item in sequencia:
    #Faça alguma coisa com o item

1 - item: variável que representa o elemento atual da sequência.
2 - sequência: Uma lista, uma string, uma tupla ou qualquer objeto iterável.
3 - bloco indentado: o código dentro do for vai ser executado para cada elemento
da sequência.

'''

In [ ]:
irmaos = ['Ailton','Agda','Alessandro']
print(f'O nome do meu irmão é {irmaos[0]}')
print(f'O nome do meu irmão é {irmaos[1]}')
print(f'O nome do meu irmão é {irmaos[2]}')
print(irmaos)

O nome do meu irmão é Ailton
O nome do meu irmão é Agda
O nome do meu irmão é Alessandro
['Ailton', 'Agda', 'Alessandro']

In [ ]:
'''
 1 -
  Ailton in ['Ailton', 'Agda', 'Alessandro']
    o Nome do meu irmão é Ailton

 2 -
  Agda in ['Ailton', 'Agda', 'Alessandro']
    o Nome do meu irmão é Agda

3 -
  Alessandro in ['Ailton', 'Agda', 'Alessandro']
    o Nome do meu irmão é Alessandro
'''
for x in irmaos:
  print(f'O nome do meu irmão é {x}')

O nome do meu irmão é Ailton
O nome do meu irmão é Agda
O nome do meu irmão é Alessandro

In [ ]:
#Podemos percorrer uma string
palavra = 'Soulcode'
for letra in palavra:
  print(letra)

S
o
u
l
c
o
d
e

In [ ]:
#Percorram a lista e imprimam a frase
jogos = ['LoL','CS','Dota','Fifa','FF']
for jogo in jogos:
  print(f'Eu gosto de jogar {jogo}')

Eu gosto de jogar LoL
Eu gosto de jogar CS
Eu gosto de jogar Dota
Eu gosto de jogar Fifa
Eu gosto de jogar FF

###12.1.1 - Range

In [ ]:
'''
Range é uma função muito utilizada no python para gerar uma sequencia de numeros.
Normalmente é usada em conjunto com o for.
Serve para controlar o numero de interações ou percorrer um intervalo numerico
'''
#contar de 0 a 9
for numero in range(10):
  print(numero)

0
1
2
3
4
5
6
7
8
9

In [ ]:
'''
Voce pode especificar o valor inicial
'''
for numero in range(5,11):
  print(numero)

5
6
7
8
9
10

In [ ]:
'''
O terceiro argumento defini o tamanho do passo entre numeros
A distância entre numeros.
'''
#Start 0
#Stop 20
#Step 5
for numero in range(0,20,5):
  print(numero)

0
5
10
15

In [ ]:
'''
Como o Range funciona
  Pode receber 3 argumentos:
    range(stop): Gera números até stop - 1;
    range(start,stop): Gera números de start até stop - 1;
    range(start,stop,step): Gera números de start até stop -1, com passos do tamanho do step.
'''
#Nesse caso o start é 10
#O stop é 0
#O step é -1
for numero in range(10, 0, -1):
  print(numero)

10
9
8
7
6
5
4
3
2
1

In [ ]:
'''
Vamos utilizar o range para controlar a logica em loops
'''
#Retornando os numeros pares e impares de um intervalo
for numero in range(1,11):
  if numero % 2 == 0:
    print(f'{numero} é par')
  else:
    print(f'{numero} é impar')

1 é impar
2 é par
3 é impar
4 é par
5 é impar
6 é par
7 é impar
8 é par
9 é impar
10 é par

In [ ]:
'''
Perfeito para gerar sequências numéricas repetidas
'''
numero = 7
for i in range(1,11):
  multiplica = numero * i
  print(f'{numero} x {i} = {multiplica}')

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [ ]:
'''
O range não retorna uma lista diretamente, mas sim um objeto iterável.
Mas, se quisermos, podemos visualizar e converter esses números numa
lista
'''
numeros = list(range(5,16,2))
print(numeros)
type(numeros)

[5, 7, 9, 11, 13, 15]

list

In [ ]:
irmaos = ['Ailton','Agda','Alessandro']
for i in range(len(irmaos)):
  print(f'O nome do meu irmão é {irmaos[i]} tem o indice {i}')

O nome do meu irmão é Ailton tem o indice 0
O nome do meu irmão é Agda tem o indice 1
O nome do meu irmão é Alessandro tem o indice 2

###12.1.2 - Enumerate

In [ ]:
'''
É uma função muito util quando voce precisa iterar sobre uma sequencia e voce
tambem precisa saber o indice.

Como funciona?
  O enumerate retorna uma tupla contendo:
    1 - O índice do elemento;
    2 - O valor do elemento

Estrutura do for:
  for indice, valor in enumerate(sequência):
    #codigo

Sem o enumerate, nós precisaríamos utilizar o range(len(sequência)), o que é uma
forma menos elegante/pythonica.

'''

In [ ]:
# enumerate retorna uma tupla (indice + valor)
frutas = ['maçã','banana','uva']
for indice, fruta in enumerate(frutas):
  print(f'O índice é {indice} e a fruta é {fruta}')

O índice é 0 e a fruta é maçã
O índice é 1 e a fruta é banana
O índice é 2 e a fruta é uva

In [ ]:
#Também conseguimos utilizar com strings
palavra = 'Soulcode'
for indice, letra in enumerate(palavra):
  print(f'O índice é {indice} e a letra é {letra}')

O índice é 0 e a letra é S
O índice é 1 e a letra é o
O índice é 2 e a letra é u
O índice é 3 e a letra é l
O índice é 4 e a letra é c
O índice é 5 e a letra é o
O índice é 6 e a letra é d
O índice é 7 e a letra é e

In [ ]:
#Também é possivel usar só o indice ou só o valor
# é só ousar o _ no lugar do oque quer omitir
frutas = ['maçã','banana','uva']
for indice, _ in enumerate(frutas):
  print(f'O índice é {indice}')

O índice é 0
O índice é 1
O índice é 2

In [ ]:
for _, fruta in enumerate(frutas):
  print(f'A fruta é {fruta}')

A fruta é maçã
A fruta é banana
A fruta é uva

In [ ]:
'''
No enumerate podemos definir um indice incial diferente de 0.
Por padrão o start é sempre 0.
'''
frutas = ['banana','maçã','goiaba']
for indice, fruta in enumerate(frutas, start=1):
  print(f'Indice: {indice}. Fruta: {fruta}')

Indice: 1. Fruta: banana
Indice: 2. Fruta: maçã
Indice: 3. Fruta: goiaba

In [ ]:
'''
Podemos usar o índice para acessar e modificar os elementos da lista
'''
#Placas em caixa alta
placas = ['ABC-1234','EFG-5678','HIJ-3214']
for indice, placa in enumerate(placas):
  placas[indice] = placa.lower()

#Placas em letras minusculas
print(placas)

['abc-1234', 'efg-5678', 'hij-3214']

###12.1.3 - Compreesão de Lista

In [ ]:

'''
É uma forma eficiente de criar listas. Permite que a gente consiga
combinar a iteração com alguma filtragem em uma linha de código.

Exemplo:
  nome_lista = [expressao for elemento in elementos if condicao]

expressao: o que vai ser incluido na lista nova
for elemento in elementos: Repetição sobre alguma coisa: lista, tupla, string...
if condicao: Isso é opcional, é um filtro que podemos usar
'''

In [ ]:
'''
Usando o for para criar uma lista baseada em outra lista
'''
numeros = [1,2,3,4,5,6,7,8,9,10]
quadrados = []
for numero in numeros:
  quadrados.append(numero**2)
print(quadrados)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
'''
Criando uma lista com base em outra lista
'''
numeros = [1,2,3,4,5,6,7,8,9,10]
quadrados = [numero**2 for numero in numeros]
print(quadrados)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
'''
Queremos filtrar somente os numeros pares

Pegando o número da nossa lista de números
Para cada número em números
Se o resto da divisão desse número por 2 for igual a 0 (Portanto o número par)
'''
numeros = [1,2,3,4,5,6,7,8,9,10]
pares = [numero for numero in numeros if numero % 2 == 0]
print(pares)

[2, 4, 6, 8, 10]

In [ ]:
'''
Usando o for para fazer a mesma coisa
'''
numeros = [1,2,3,4,5,6,7,8,9,10]
pares = []

for numero in numeros:
  if numero % 2 == 0:
    pares.append(numero)

print(pares)

[2, 4, 6, 8, 10]

In [ ]:
'''
Transformando a primeira letra em maiúscula
'''
nomes = ['ana','tereza','joana','clara']
nomes_m = [nome.capitalize() for nome in nomes]
print(nomes_m)

['Ana', 'Tereza', 'Joana', 'Clara']

In [ ]:
'''
Você tem uma lista de números que não deve conter números negativos.
Você deve substituir os números negativos por 0.

Pega um número da nossa lista de números
Se o número for maior ou igual a 0 a nossa expressão é o próprio número
Caso contrário, a expressão é 0 (o número original é negativo)
Faz isso para cada número na nossa lista de números
'''
numeros = [1, -2, 6, -5, 20, 30]
positivos = [numero if numero >= 0 else 0 for numero in numeros]
print(positivos)

[1, 0, 6, 0, 20, 30]

In [ ]:
'''
Obtenha a primeira letra de cada palavra de uma lista
1ª iteração:
  serie = 'The Office'
  serie[0] = 'T'

Ele não executa o serie[0] de imediato, apenas depois do for.
'''
series = ['The office','Breaking bad','Game of Thrones','Lost','Friends']
primeiras_letras = [serie[0] for serie in series]#serie[0] pega a primeira letra do valor da lista
print(primeiras_letras)

['T', 'B', 'G', 'L', 'F']

In [ ]:
'''
Crie uma lista com o comprimento de cada palavra em uma frase
'''
frase = 'Babuinos bobocas balbuciando em bando'
#O split transforma a frase numa lista de palavras.
#O len retorna o tamanho de cada palavra.
tamanho = [len(palavra) for palavra in frase.split()]
print(tamanho)

[8, 7, 11, 2, 5]

In [ ]:
'''
Crie uma lista com a tabuada do numero 9
'''
tabuada =[f'9 x {numero} = {numero * 9}' for numero in range(1,11)]
print(tabuada)

['9 x 1 = 9', '9 x 2 = 18', '9 x 3 = 27', '9 x 4 = 36', '9 x 5 = 45', '9 x 6 = 54', '9 x 7 = 63', '9 x 8 = 72', '9 x 9 = 81', '9 x 10 = 90']

In [ ]:
'''
Armazene as palavras que começam com vogais
if palavra[0] in'aeiou' --> Verifica se a primeira letra da palavra é uma vogal
'''
palavras = ['banana','maçã','abacate', 'uva','embu']
vogais = [palavra for palavra in palavras if palavra[0] in'aeiou']
print(vogais)

['abacate', 'uva', 'embu']

In [ ]:
'''
Crie uma lista que retorne os numeros de 1 a 10 categorizados em pares e impares
'''
numeros = [f'{x} é par' if x % 2 == 0 else f'{x} é impar' for x in range(1,11)]
print(numeros)

for numero in numeros:
  print(numero)

['1 é impar', '2 é par', '3 é impar', '4 é par', '5 é impar', '6 é par', '7 é impar', '8 é par', '9 é impar', '10 é par']
1 é impar
2 é par
3 é impar
4 é par
5 é impar
6 é par
7 é impar
8 é par
9 é impar
10 é par

In [ ]:
'''
Extraia os numeros de uma string qualquer

1 - promo.split()
  Dividindo a nossa string promo em uma lista de palavras.
  Ele faz isso com base no delimitador padrão que é o espaço.
2 - for x in promo.split()
  Começamos a iterar sobre cada item gerado pelo split().
  O item está sendo atribuido a variavel x.
3 - if x.isdigit()
  Para cada item da nossa lista, o método isdigit() vai verificar se o elemento
  contem apenas digitos. No caso do '31' ele retorna True, no caso do café ele
  retorna False.
4 - int(x)
  O elemento é convertido para um inteiro

'''
promo = 'O preço do café está 31 reais e o desconto é de 10 %'
#Usando o int(x) para converter para inteiro
#Usando o split para transformar o promo numa lista de palavras
#Usando o isdigit() para verificar se x é um número
numeros = [int(x) for x in promo.split() if x.isdigit()]
print(numeros)

[31, 10]

###12.2 - While

In [ ]:
'''
O while vai executar um bloco de código enquanto uma condição for verdadeira.

Quando usar o while?
  Quando nós não sabemos quantas vezes o loop será executado
  Mas, sabemos qual é a condição de parada.

Quando usar o for?
  Quando sabemos quantas vezes desejamos iterar ou sabemos sobre o que desejamos
  iterar.
  Ideal para trabalharmos com listas/tuplas.
'''

In [ ]:
#Iremos executar o bloco abaixo enquanto a condição não for atendida
i = 1 #Inicialilzando um contador
while i<10: #Enquanto i < 10 o bloco abaixo sera executado
  print(f'{i} é menor que 10? {i<10}')
  print(f'Valor de i é {i}')
  i += 1 #i = i + 1 (Incremento de condição de parada)
print(f'Valor final de i é {i}')

1 é menor que 10? True
Valor de i é 1
2 é menor que 10? True
Valor de i é 2
3 é menor que 10? True
Valor de i é 3
4 é menor que 10? True
Valor de i é 4
5 é menor que 10? True
Valor de i é 5
6 é menor que 10? True
Valor de i é 6
7 é menor que 10? True
Valor de i é 7
8 é menor que 10? True
Valor de i é 8
9 é menor que 10? True
Valor de i é 9
Valor final de i é 10

In [ ]:
#Contagem regressiva recebida do usuario
numero = int(input('Digite um número para contagem regressiva: '))
while numero >= 0: #Condição de parada
  print(f'Numero: {numero}')
  numero -= 1 # Numero = numero -1 (Decremento)
print('FIM')

Digite um número para contagem regressiva: 10
Numero: 10
Numero: 9
Numero: 8
Numero: 7
Numero: 6
Numero: 5
Numero: 4
Numero: 3
Numero: 2
Numero: 1
Numero: 0
FIM

In [ ]:
'''
Se a condição nunca for falsa, o while vai ficar num loop infinito.
Se você estiver no vscode, evite testar. Mas se mesmo assim quiser, use ctrl + c
para interromper.

numero = 1
while numero <= 5:
  print(numero)
'''

In [ ]:
'''
O while true é uma estrutura de loop infinito, ele continuará rodando
até que uma condição de parada o interrompa.
Usamos o break para interromper.
Normalmente usamos o while True quando não sabemos o número de iterações
e/ou precisamos que o bloco seja executado pelo menos uma vez.

'''
while True:
  idade = input('Informe sua idade: ')
  if idade.isdigit() and 0 <= int(idade) <= 120:
    print(f'Sua idade é {idade}')
    break
  else:
    print('idade invalida')

Informe sua idade: 50
Sua idade é 50

In [ ]:
jogos = ['zelda','MS','Fifa','Wakfu','Sonic','Hearthstone']
while jogos:
    #o pop retorna o elemento deletado, estamos armazenando ele para exibir na tela.
  jogo_atual = jogos.pop(0) #Decremento da lista
  print(f'Jogando {jogo_atual}')
print(jogos) # A lista ficou vazia porque o pop esta eliminando os valores

Jogando zelda
Jogando MS
Jogando Fifa
Jogando Wakfu
Jogando Sonic
Jogando Hearthstone
[]

#13 - Funções

In [ ]:
'''
Uma função é uma sequência nomeada de instruções que executa operações
de computação.
Ao definir uma função, você especifica o nome e a sequência de instruções.
Depois, podemos chamar a função pelo nome

'''

##13.1 - Chamadas de funções

In [ ]:
'''
O nome dessa função é type.
O que vem entre parênteses é chamado de argumento da função.
Nessa função, o resultado é o tipo do argumento.
Em algumas literaturas vocês podem encontrar esse resultado sendo chamado de
valor de retorno.
'''
type(50)

int

In [ ]:
'''

'''
var = 'teste'
print('Olá', var)

Olá teste

##13.2 - Criando novas funções

In [ ]:
'''
Para criarmos uma nova função, especificamos um nome e a sequência de instruções
que será realizada.

def é a palavra reservada que indica a DEFinição de uma função.

Os nomes das funções seguem praticamente as mesmas regras das variáveis. O primeiro
caracter não deve ser um número. Não deve ser uma palavra reservada e não deve ser
o mesmo nome de uma variável.

Parênteses vazios indicam que a função não vai usar um argumento.

A primeira linha pode ser chamada de cabeçalho e o resto é chamado de corpo.
O cabeçalho tem que terminar com dois pontos.
O corpo precisa estar indentado

'''
def refrao():
  print('E nessa loucura de dizer que não te quero')
  print('Vou negando as aparencias')
  print('Disfarçando as evidencias')

refrao() #Chamar a funçao

E nessa loucura de dizer que não te quero
Vou negando as aparencias
Disfarçando as evidencias

In [ ]:
type(refrao)

function

In [ ]:
'''
Podemos ter uma função dentro de outra fução
'''
def bis():
  refrao()
  refrao()

#Chamando a função bis
bis()

E nessa loucura de dizer que não te quero
Vou negando as aparencias
Disfarçando as evidencias
E nessa loucura de dizer que não te quero
Vou negando as aparencias
Disfarçando as evidencias

In [ ]:
'''
As instruções dentro de uma função não são executadas até que função seja chamada.
É preciso criar uma função antes de executá-la

'''

In [ ]:
'''
Temos funções que exigem argumentos, como: len, print, sum...
Existem funções que exigem mais de um argumento: zip, round (opcional o segundo), pow

'''
print('Olá')
int(2)
round(3.14516,2)

Olá

3.15

In [ ]:
'''
Dentro de uma função os argumentos são atribuidos a variaveis que são chamados
de parametros.
A nossa função duas_vezes atribui o argumento recebido a um parâmetro chamado joao.
Quando a função é chamada, ela irá exibir o valor do parâmetro duas vezes, indenpendente
do que ele seja.

O nome da variável que passamos como argumento (Marcos) não tem nada a ver
com o nome do parâmetro (joao)

'''
def duas_vezes(joao):#joao é a variavel que recebe o parametro
  print(joao)
  print(joao)

duas_vezes('Marcos')

Marcos
Marcos

In [ ]:
'''
Função com 2 paraametros
'''
def soma(x,y): #Função com 2 parametros
  soma_n = x+y #utilizando os parametros para ralizar a operação
  return soma_n #Retornado o resultado

soma(2,3) #Chamando a função e passando dois parametros

5

In [ ]:
def soma2(x,y): #Função com 2 parametros
  soma_n = x+y #utilizando os parametros para ralizar a operação
  return soma_n #Retornado o resultado

num1 = int(input('Digite o primeiro numero: '))
num2 = int(input('Digite o segundo numero: '))
var = soma2(num1,num2)
print(var)

Digite o primeiro numero: 15
Digite o segundo numero: 25
40

In [ ]:
'''
Podemos ter laços de repetição e estruturas condicionais dentro de uma função.
'''
def soma3():
  quantidade = int(input('Quantos números você quer somar? '))
  total = 0 #Acumulando o total

  for i in range(quantidade):
    numero = float(input(f'Digite o {i+1}º numero: '))
    total += numero #total = total + numero
  return total

resultado = soma3()
print(f'A soma dos números é {resultado}')

Quantos números você quer somar? 3
Digite o 1º numero: 10
Digite o 2º numero: 20
Digite o 3º numero: 10
A soma dos números é 40.0

In [ ]:
'''
Quando criamos uma variável dentro de uma função, ela é local, só existe dentro
daquela função.
'''
def concatena_string(parte1,parte2):
  concatena = parte1 + parte2
  duas_vezes(concatena)

frase1 = "It's a me "
frase2 = "Mario!"
concatena_string(frase1,frase2)

It's a me Mario!
It's a me Mario!

In [ ]:
'''
Quando a função concatena_string é encerrada, a variável concatena é destruída.
Ao tentarmos exibi-la receberemos um erro.
'''
print(concatena)

In [ ]:
'''
Crie uma função que calcula o imc do ususario.
Voce deve receber o peso e altura e retornar o imc.
peso/altura**2
'''
def imc(peso,altura):
  return peso/altura**2

peso = float(input('Digite seu peso: '))
altura = float(input('Digite sua altura: '))
print(f'Seu imc é {imc(peso,altura):.2f}')

Digite seu peso: 60
Digite sua altura: 1.65
Seu imc é 22.04

In [ ]:
def imc(peso,altura):
  imc = peso/altura**2
  return imc

peso_p = float(input("Informe o seu peso: "))
altura_p = float(input("Informe a sua altura: "))
resultado = imc(peso_p,altura_p)

print(f'O seu IMC é {round(resultado,2)}')

Informe o seu peso: 60
Informe a sua altura: 1.65
O seu IMC é 22.04

#14 - Try-Except

In [ ]:
'''
O bloco de código try-except é usado para lidar com exceções (erros), que
podem quebrar o código de maneira inesperada.
'''

In [ ]:
#Erro de divisão por Zero
x = 1/0
print(x)

ZeroDivisionError: division by zero

In [ ]:
'''
O python vai tentar executar o código dentro do try, mas por ser uma divisão por
0, ele irá seguir o fluxo, pulando para o except e consequentemente exibindo a
mensagem "Ocorreu um erro!"

'''
try:
  x =1/0
except:
  #esse bolco sera executado quando houver um Erro
  print('Não é possivel dividir por zero')

Não é possivel dividir por zero

In [ ]:
#Erro, não podemos converter a string abc para um numero inteiro
numero = int(input('Digite um numero: '))

Digite um numero: abc

ValueError: invalid literal for int() with base 10: 'abc'

In [ ]:
'''
Capturando tipos de erros especificos.
Erro de divisão por 0 e erro de valor.
'''
try:
  numero = int(input('Digite um numero: '))
  divide = 10/numero
except ZeroDivisionError:
  print('Não é possivel dividir por zero')
except ValueError:
  print('Você não digitou um numero')

Digite um numero: 4

In [ ]:
'''
Podemos armazenar o erro numa variável
'''
try:
  lista = [1,2,3,4,5,6,7,8,9]
  print(lista[10])#Forçando um indice invalido
except IndexError as erro:
  print(f'O erro encontrado foi: {erro}')

O erro encontrado foi: list index out of range

In [ ]:

try:
  numero = int(input('Digite um numero: '))
  divide = 100/numero
except ZeroDivisionError:
  print('Não é possivel dividir por zero')
except ValueError:
  print('Você não digitou um numero')
else:
  print(f'O resultado é {divide}')
finally:
  print('Execução finalizada')

Digite um numero: 5
O resultado é 20.0
Execução finalizada

In [ ]:
'''
Podemos usar o raise para criar um erro personalizado.
'''

def verficar_idade(idade):
  if idade < 18:
    raise ValueError("Idade não pode ser menor que 18")
  return "Acesso permtido"

try:
  print(verficar_idade(16))
except ValueError as erro:
  print(erro)

Idade não pode ser menor que 18

In [ ]:
'''
Também podemos usar para relançar o erro.
'''
try:
  x = 1/0
except ZeroDivisionError:
  print('Não é possivel dividir por zero')
  raise

Não é possivel dividir por zero

ZeroDivisionError: division by zero

In [ ]:
'''
ZeroDivisionError:
  Ocorre quanto tentamos dividir um número por 0
  Exemplo: x/0

ValueError:
  Acontece quando um valor inválido é passado para uma função.
  Exemplo: int('abc')

TypeError:
  Ocorre quando tentamos fazer operações com tipos diferentes.
  Exemplo: "1" + 1

IndexError
  Ocorre quando tentamos acessar um índice inválido.
  Exemplo: [1,2,3,4,5] e tentamos acessos o índice 10.

KeyError:
  Ocorre quando tentamos acessar uma chave que não existe.
  Exemplo: dicionario["não_existe"]

NameError
  Tentamos usar uma variável que não foi declarada.
  Exemplo: print(nao_existe)

IndentationError:
  Ocorre quando a indentação do código está errada.
  Exemplo:  if alguma coisa:
            print(...)

SyntaxError
  Ocorre quando o código tem erro de sintaxe.
  Exemplo: print("sei lá"

RuntimeError
  Ocorre algum erro em tempo de execução
  raise Runtime("Erro")

FileNotFoundError
  Tentamos abrir um arquivo que não existe
  Exemplo: arquivo.txt

ModuleNotFoudError
  Tentamos usar um módulo que não pode ser encontrado/não existe
  Exemplo: import nao_existe

ConnectionError
  Falha de conexão
'''

#15 - Módulos

In [ ]:
'''
math
  floor arredondar um numero pra baixo
  trunc truncar um numero
  ceil arredondar pra cima
  sqrt raíz quadrada
  pow potência

import math #Traz tudo
from math import ceil
from math import ceil, pow #Podemos colocar vírgulas para trazer mais funcionalidades
from math import sqrt as r #Podemos dar uma apelido para a funcionalidade
'''
'''
import pandas as pd
'''

In [ ]:
'''
Usando o módulo math
'''
import math
numero = int(input("Informe um número: "))
raiz = math.sqrt(numero)
print(f'A raíz de {numero} é {raiz}')

In [ ]:
'''
Trabalhando com apelidos.
'''
from math import sqrt as r
numero = int(input('Digite um numero: '))
print(f'A raiz quadrada de {numero} é {r(numero)}')

Digite um numero: 4
A raiz quadrada de 4 é 2.0

In [ ]:
#Modulo para gerar numeros aleatorios
import random
numero = random.randint(0,10)
print(numero)

1

In [ ]:
!pip install emoji #Comando para istalar a biblioteca emoji
import emoji
print(emoji.emojize('Olá mundo :sunglasses:')) #vai exibir o emoji

Collecting emoji
  Downloading emoji-2.14.1-py3-none-any.whl.metadata (5.7 kB)
Downloading emoji-2.14.1-py3-none-any.whl (590 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 590.6/590.6 kB 11.7 MB/s eta 0:00:00
Installing collected packages: emoji
Successfully installed emoji-2.14.1
Olá mundo 🕶️

In [ ]:
import modulo_aula as teste #Importando um modulo criado por nós mesmo no colab
print(teste.alo('Nathan')) #Usando a função do modulo importado

Alo Nathan

In [ ]:
print(teste.soma(10,25)) #Usando a função do modulo importado

35

In [ ]:
print(teste.resultado)

12